body{
    background-color: #ced6f0;
}

.contener{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.container{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100vh;
    border: 1px solid black;
    
}

.item1{
    text-align: center;
    border:1px solid saddlebrown;
}